body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    font-family: 'Jost','Times New Roman', Times, serif;
    color: #00ff00;
    background-color: black;
}

button {
    font-family: inherit;
}

fieldset {
    border-style: none;
    margin-bottom: 15px;
}

#add-book-form {
    display: flex;
}

label {
    display: inline-block;
    width: 90px;
    text-align: center;
}

.read-status-container {
    display: flex; 
    justify-content: center;
    gap: 2vw;
}

.submit-btn-container {
    margin: 0 auto;
    padding-top: 2vh;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.shelf {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 auto;
    text-align: center;
    width: 175px;
    height: 200px; 
    border: 1px solid #5a5a5a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px #5a5a5a;
}

.title, .author {
    font-weight: bold;
}

button, input {
    border-color: #00ff00;
    color: #00ff00;
    background-color: black;
    border-radius: 10px;
}