body {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: 'Jost','Times New Roman', Times, serif;
}

button {
    font-family: inherit;
}

#add-book {
    width: 2vw;
    font-size: 2vh;
}

#add-book-form {
    border-style: none;
    margin-right: 2vw;
}