body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    font-family: 'Jost','Times New Roman', Times, serif;
}

button {
    font-family: inherit;
}

#add-book {
    width: 2vw;
    font-size: 2vh;
}

#add-book-form {
    border-style: none;
}



#add-book-form label {
    padding-right: 5px;
}

#add-book-form input, #add-book-form button {
    margin-right: 1vw;
}

.shelf {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.card {
    width: 200px;
    height: 220px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1vh;
}

.card-header, .card-body {
    text-align: center;
}

h3 {
    text-align: center;
}

fieldset {
    border-style: none;
}

/* 
add cards to a grid that auto fills 4 cards per row
properly align form input elements
*/
